<!DOCTYPE html>
<html lang="<%=lang%>">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>[##NAME##] - <%= tr.login_t?.toUpperCase() %>
  </title>
  <link rel="stylesheet" href="/css/lib/bootstrap.css" />
  <link rel="stylesheet" href="/css/core/expresso.css" />
  <link rel="stylesheet" href="/css/core/login.css" />
</head>

<body class="<%=theme%>">
  <div class="container">
    <div class="login-register-page">
      <!-- Welcome Text -->
      <div class="welcome-text">
        <h1>
          <%= tr.login_t?.toUpperCase() %>
        </h1>
        <h3>[##NAME##] <%= tr.by %> Expresso</h3>

        <span>
          <%= tr.no_account %>
            <a href="<%= routes.register %>">
              <%= tr.sign_up%>
            </a>
        </span>
      </div>

      <form action="<%= routes.login %>" method="post" id="login-form">
        <div class="input-with-icon-left">
          <i class="icon-material-baseline-mail-outline"></i>
          <input type="text" class="input-text with-border" name="email" id="email" placeholder="<%= tr.email_address%>"
            required value="<%= locals.body?.email %>" />
        </div>

        <div class="input-with-icon-left">
          <i class="icon-material-outline-lock"></i>
          <input type="password" class="input-text with-border" name="password" id="password"
            placeholder="<%= tr.password %>" required />
        </div>
        <a href="<%= routes.reset_password %>" class="forgot-password">
          <%= tr.forgot_password%>
        </a>
      </form>

      <!-- Button -->
      <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form">
        <%= tr.login%> <i class="icon-material-outline-arrow-right-alt"></i>
      </button>

      <!-- Social Login -->
      <div class="social-login-separator"><span>
          <%= tr.or%>
        </span></div>
      <div class="social-login-buttons">
        <button class="facebook-login ripple-effect">
          <i class="icon-brand-facebook-f"></i>
          <%= tr.login_facebook%>
        </button>
        <a href="<%=routes.google_auth%>">
          <button class="google-login ripple-effect" style="max-width: 100%;">
            <i class="icon-brand-google-plus-g"></i>
            <%= tr.login_google%>
          </button>
        </a>
      </div>
    </div>
  </div>

  <% if (locals.error) { %>
    <div id="error">
      <%= error.message %>
    </div>
    <% } %>
</body>

</html>