<!DOCTYPE html>
<html lang="<%=lang%>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expresso - [##NAME##]</title>
  <link rel="stylesheet" href="/css/lib/bootstrap.css">
  <link rel="stylesheet" href="/css/core/expresso.css">
  <link rel="stylesheet" href="/css/core/account.css">
</head>

<body class="<%=theme%>">
  <div class="container">
    <h1>
      <%= tr.password_reset_title %>
    </h1>
    <div class="welcome-text">
      <span>
        <%= tr.no_account %> 
        <a href="<%= routes.register %>">
          <%= tr.sign_up%>
        </a>
      </span>
    </div>
    <form action="<%= routes.reset_password+(locals.id?"/"+locals.id:"") %>" id="form" method="post">
      <div class="input-with-icon-left">
        <i class="<%= locals.id? " icon-material-outline-lock":"icon-material-baseline-mail-outline" %>"></i>
        <input type="text" name="<%= locals.id? "password":"email" %>" placeholder="<%= locals.id?
          tr.password:tr.email_address %>">
      </div>
    </form>
    <button class="button button-sliding-icon ripple-effect margin-top-10" type="submit" form="form">
      <%= locals.id?tr.password_reset_title: tr.resend_mail %> <i class="icon-material-outline-arrow-right-alt"></i>
    </button>

    <% if (locals.email_sent!=null) { %>
    <div id="message" class="<%= locals.email_sent && " sent" %>"> <%= locals.message%>
    </div>
    <% } %>

  </div>

</body>

</html>